<h1>Edit account </h1>

<%= simple_form_for @user, url: account_path do |f| %>
    <%= f.input :name %>
    <%= f.input :username %>

    <%= f.button :submit, "Update account" %>

<% end %>

<p>
    <%= link_to "Delete account", account_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your account"} %>
</p>